.confirmed-booking{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 180px;
}
.confirmed-booking h1{
    font-family: "Markazi text", sans-serif;
    font-size: 4rem;
    font-weight: bold;
    color: #495E57;
    text-align: center;
    width: 350px;
}
.confirmed-booking p{
    font-family: "Karla", sans-serif;
    font-size: 1.5rem;
    color: #495E57;
    text-align: center;
    width: 350px;
}