.nav-container{
    display: flex;
    flex-direction: row;
    max-width: 100%;
    height: 80px;
    box-sizing: border-box;
}
.nav-left{
    display: flex;
    margin-left: auto;
    height: 100%;
}
.nav-left img{
    padding: 15px 0;
    padding-right: 30px;
    padding-left: 10px;
}
.nav-right{
    display: flex;
    flex-direction: row;
    max-width: 70%;
    height: 100%;
    margin-right: auto;
}
.nav-items{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    margin: auto;
}
.nav-items li{
    font-family: "Karla", sans-serif;
    font-size: 1rem;
    font-weight: bold;
    padding: 1rem;
    white-space: nowrap;
    text-shadow: 3px 3px 3px rgba(0, 0, 0, 0.144);
}
@media (max-width: 650px) {
    .nav-left img{
        display: none;
    }
    .nav-right{
        max-width: 100%;
        margin-left: auto;
        margin-right: auto;
    }
}